.card__like {
  background-image: url(../../../images/like.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFF;
  width: 22px;
  height: 19px;
  cursor: pointer;
  border: none;
  transition: .5s;
}

.card__like:hover {
  opacity: .5;
}